<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd

           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Student bean configuration using value  -->

    <bean id="Student" class="org.Springcore.Student">

        <property name="studentid" value="123412"/>
        <property name="studentName" value="Naman"/>
        <property name="address" value="Delhi"/>

    </bean>
    <!-- Student bean configuration using property  -->
    <bean id="Student2" class="org.Springcore.Student">

        <property name="studentid" value="123434"/>
        <property name="studentName" value="Aman"/>
        <property name="address" value="Noida"/>

    </bean>
    <!-- Student bean configuration using p schema (most efficient) -->
    <bean id="Student3" class="org.Springcore.Student"
    p:studentid="123435"
    p:studentName="Aarit"
    p:address="Cuttack"
    />

</beans>
